<header>
  <ul>
    <li><p>PCC</p></li>
    <li><%= link_to "Contact"%></li>
    <li><a href="#">communication</a></li>
  </ul>
</header>

  <section class="main-image">
    <span class="description">
      <h1>About PCC</h1>
      <p>PCCは、コミュニケーション用アプリです。</p>
      <p>参加登録しているメンバーとリアルタイムでやりとりすることができます。</p>
    </span>
  </section>

  <section class="family-images">
    <h1>〜 Family 〜</h1>
    <div class="seasons">
      <div class="spring"></div>
      <div class="summer"></div>
      <div class="autumn"></div>
      <div class="winter"></div>
    </div>  
  </section>

<footer>
  <p>© 2018 W.K</p>
</footer>