<div class="container_chat_room">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 chat_room">
    <div class="chat">
      <% @chat_messages.each do |chat_message| %>
        <p><%= chat_message.content %></p>
      <% end %>
    </div>

    <div class="chat_post">
      <form>
        <span class="chat_input">Post message 💫 <input type="text", placeholder="メッセージ"></span>
        <input type="submit" value="投稿" onClick="postChatMessage()">
      </form>
    </div>
  </div>
</div>